html, body
    margin: 0
    font-family: 'Raleway', sans-serif
    font-size: 100%
    width: 100%
    height: 100%

.before
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0

.after
    content: ''
    width: 100%
    height: 100%
    position: absolute
    left: 0
    top: 0


.header
    height: 800px
    position: relative

.shadow
    background-color: rgba(0, 0, 0, 0.5)
    width: 100%
    height: 100%
    position: absolute
    top: 0
    left: 0

.navbar
    background-color: rgba(0, 0, 0, 0) !important
    border-bottom: 2px solid rgba(255, 255, 255, 0.2)
    &-nav
        width: 100%
        margin: 15px 0 0 0
        display: flex
        justify-content: flex-end
    &-brand
        text-transform: uppercase
        font-weight: bold
        font-size: 160%

.nav-link, .navbar-brand
    color: white !important

.head-middle-content
    display: flex
    flex-direction: column
    align-items: center
    margin: 240px 0 0 0
    position: relative
    &__title
        color: white
        text-transform: uppercase
        font-weight: bold
        font-size: 400%
        position: relative
    &__button
        width: 230px
        height: 50px
        color: white
        border: 2px solid #82c364
        border-radius: 5px
        background-color: rgba(130, 195, 100, 1)
        text-transform: uppercase
        font-size: 120%
        &:hover
            border: 2px solid white
            background-color: rgba(0, 0, 0, 0)
            transition: 0.4s
        &:not(:hover)
            transition: 0.4s


                                                    //Конец header'a

                                                    // Начало main'a

.middle
    background-color: #1f1f1f

.middle-container
    position: relative
    height: 640px

.middle__banner
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    position: absolute
    top: -70px
    &-item
        width: 32%
        height: 300px
        // background-image: url(../images/banner_item1.jpg)
        // background-position: center
        // background-size: cover
        margin: 0 0 20px 0
        font-size: 120%
        color: white
        display: flex
        justify-content: space-between
        align-items: flex-end
        img
            background-color: white
        // &:hover
        //     box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5), inset 1px 1px 50px rgba(0, 0, 0, 0.5)
        //     transition: 0.7s
        // &:not(:hover)
        //     transition: 0.7s
        //     box-shadow: none

.unit1
    background-image: url(../images/banner_item1.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(-20px, -20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s
.unit2
    background-image: url(../images/banner_item2.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(0, -20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s

.unit3
    background-image: url(../images/banner_item3.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(20px, -20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s

.unit4
    background-image: url(../images/banner_item4.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(-20px, 20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s

.unit5
    background-image: url(../images/banner_item5.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(0, 20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s

.unit6
    background-image: url(../images/banner_item6.jpg)
    background-position: center
    background-size: cover
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.3
    &:hover
        transform: translate(20px, 20px)
        transition: 0.7s
    &:not(:hover)
        transform: none
        transition: 0.7s

.banner-item__paragraf
    margin: 0 0 16px 10px
    font-size: 130%
    position: relative

.fas
    margin: 0 5px 16px 0
    position: relative


.middle__content
    display: flex
    justify-content: space-between
    color: white
    &-news
        width: 49%
    &-banner
        width: 49%
        .content-banner__img
            width: 100%

.content-banner__item
    background-image: url(..//images/banner_item7.jpg)
    width: 100%
    height: 250px
    background-position: center
    margin: 0 0 20px 0
    position: relative
    &::before
        @extend .before
        background-color: black
        opacity: 0.5


.content-news__title
    margin: 0 0 40px 0
    color: grey

.content-news__block
    border-bottom: 1px solid #3e3e3e
    cursor: pointer
    &:hover
        background-color: black
        transition: 1s linear

.content-news__item
    padding: 20px 0 20px 0
    word-wrap: break-word
    // border-bottom: 1px solid #3e3e3e
    &-paragraf
        color: grey
    &:hover
        transform: translateX(20px)
        // transition: 0.3s linear
        // transition-delay: .5s
        transition-duration: .3s
    &:not(:hover)
        transition: 0.4s

                                                    //Конец main'a

                                                    //Начало footer'a


.footer
    background-color: black
    color: white
    &__list-icon
        display: flex
        list-style-type: none
        justify-content: center
        padding: 0
        &-item
            margin: 50px 14px 0 14px
            cursor: pointer
            .list-icon-item__link
                color: white
            .fa-twitter:hover
                color: #00aced
                transition-duration: .3s
            .fa-twitter:not(:hover)
                transition-duration: .5s
            .fa-facebook:hover
                color: #3c589a
                transition-duration: .3s
            .fa-facebook:not(:hover)
                transition-duration: .5s
            .fa-instagram:hover
                background: linear-gradient(45deg, #ffcb63, #f7283a, #b927a3, #2e48e3)
                transition-duration: .3s
                border-radius: 8px
            .fa-instagram:not(:hover)
                transition-duration: .5s
            .fa-google-plus:hover
                color: #dc4a38
                transition-duration: .3s
            .fa-google-plus:not(:hover)
                transition-duration: .5s
            .fa-youtube:hover
                color: #b91d14
                transition-duration: .3s
            .fa-youtube:not(:hover)
                transition-duration: .5s


.fa-instagram
    width: 35px
    height: 36px
    padding: 0.5px 2px 3px 3.5px
    
.footer__copyright
    display: flex
    align-items: center
    flex-direction: column
    color: grey
    font-size: 90%
    &-paragraf
        margin: 0 0 3px 25px
    .part
        margin: 0 0 80px 25px
    &-link
        color: #808080c7
        &:hover
            color: #bdbdbd
            text-decoration: none
            transition-duration: .3s



@media (max-width: 768px)
    .middle-container
        height: 940px
    .middle__banner-item
        width: 49%
    .navbar-content
        color: white
        width: 100%
        margin: 15px 0 0 0
        display: flex
        justify-content: space-between !important
    .navbar-collapse
        text-align: right
    .dropdown-menu
        text-align: right
        background-color: transparent
        border: 0
        .dropdown-item
            color: white
    .navbar-toggler
        background-color: rgba(221, 221, 221, 0.7)
    .middle__content
        flex-wrap: wrap
        .middle__content-news, .middle__content-banner
            width: 100%
            margin: 0 0 20px 0
    .head-middle-content__title
        text-align: center
    .middle__banner-item:hover
        transform: scale(0.9, 0.9) !important
        // transform: scaleY(0.8) !important
        transition-duration: .5s !important

@media (max-width: 425px)
    .middle-container
        height: 1840px
    .middle__banner-item
        width: 100%
    .navbar-content
        color: white
        width: 100%
        margin: 15px 0 0 0
        display: flex
        justify-content: space-between !important
    .navbar-collapse
        text-align: right
    .dropdown-menu
        text-align: right
        background-color: transparent
        border: 0
        .dropdown-item
            color: white
    .navbar-toggler
        background-color: rgba(221, 221, 221, 0.7)
    .middle__content
        flex-wrap: wrap
        .middle__content-news, .middle__content-banner
            width: 100%
            margin: 0 0 20px 0
    .head-middle-content__title
        text-align: center
    .footer__copyright-paragraf
        text-align: center